.list {
  display: flex;
  flex-direction: raw;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
  height: 340px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  max-width: 300px;
  align-items: center;
  text-align: center;
  color: orangered;
}

.picture {
  height: 270px;
  width: 200px;
  border: 2px solid orangered;
  border-radius: 8px;
}

.mainText {
  color: orangered;
}
